.contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  height: 45px;
  border: 1px solid #eaeaea;
  border-radius: 10px;


  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 50px;
    padding-left: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    box-shadow: none;

    &:focus {
      border: 1px solid orange;
    }
  }
}

.searchDelete,
.searchBtn {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: auto;
  padding: 0 !important;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: none;

  img {
    display: block;
    pointer-events: none;
  }
}

.searchBtn {
  left: 0;

  img {
    width: 14px;
    height: 14px;
  }
}

.searchDelete {
  right: 0;

  img {
    width: 24px;
    height: 24px;
  }
}
