.contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  height: 45px;
  border: 1px solid #eaeaea;
  border-radius: 10px;

  button {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  img {
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 50px;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}
