*,
*::before,
*::after {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #e7f6ff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .04);
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.drawer {
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100vh;
  padding: 30px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, .1);
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
}

.drawerTitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.items {
  overflow: auto;
  margin-bottom: 40px;
}

.cartItem {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  background: #fff;
}

.cartItemImage {
  flex: none;
  max-width: 70px;
  margin-right: 20px;

  img {
    display: block;
    width: 100%;
  }
}

.cartItemInfo {
  margin-right: 10px;
}

.cartItemTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 8px;
  color: #000;
}

.cartItemPrice {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
}

.cartItemButton {
  flex: none;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  border: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    opacity: .5;
  }

  img {
    display: block;
    width: 100%;
  }
}

.emptyBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 30px;
    text-align: center;
  }
}

.emptyImage {
  max-width: 80%;
  margin-bottom: 50px;

  img {
    display: block;
    width: 100%;
  }
}

.emptyButton {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 18px 30px;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease-in-out;
  text-align: center;
  border: none;
  border-radius: 18px;
  background-color: #9dd558;
  box-shadow: none;

  &:hover {
    background-color: lighten(#9dd558, 7%);

    img {
      transform: rotate(180deg) translateX(5px);
    }
  }

  &:active {
    background-color: darken(#9dd558, 7%);
  }

  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33px;
    display: block;
    flex: none;
    width: 14px;
    height: 12px;
    margin: auto;
    transition: transform .2s ease-in-out;
    transform: rotate(180deg);
  }
}

.drawerFooter {
  margin-top: auto;
  padding: 0;
  list-style: none;
}

.drawerFooterItem {
  display: flex;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.drawerFooterTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.drawerFooterDecor {
  flex: 1;
  margin: 0 10px;
  border-bottom: 1px dashed #dfdfdf;
}

.drawerFooterPrice {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.drawerFooterBtn {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 18px 30px;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease-in-out;
  text-align: center;
  border: none;
  border-radius: 18px;
  background-color: #9dd558;
  box-shadow: none;

  &:hover {
    background-color: lighten(#9dd558, 7%);

    img {
      transform: translateX(5px);
    }
  }

  &:active {
    background-color: darken(#9dd558, 7%);
  }

  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
  }

  img {
    position: absolute;
    top: 0;
    right: 33px;
    bottom: 0;
    display: block;
    width: 14px;
    height: 12px;
    margin: auto;
    transition: transform .2s ease-in-out;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
}

.headerLeft {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin-right: 15px;
  }
}

.headerInfoTitle {
  text-transform: uppercase;
}

.headerInfoSlogan {
  color: #9d9d9d;
}

.headerRight {
  display: flex;
  list-style: none;
}

.headerRightMenuItem {
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.content {
  padding: 40px;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  height: 45px;
  border: 1px solid #eaeaea;
  border-radius: 10px;


  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 50px;
    padding-left: 50px;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.searchButton,
.searchCloseButton {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: none;

  img {
    display: block;
    pointer-events: none;
  }
}

.searchButton {
  left: 0;

  img {
    width: 14px;
    height: 14px;
  }
}

.searchCloseButton {
  right: 0;

  img {
    width: 24px;
    height: 24px;
  }
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 40px);
}

.basketBtn {
  cursor: pointer;
}
